* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav {
  padding: 50px 150px;
  background-color: #404149;
}

.navbar {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* flex-direction: row-reverse; */
}

.navbar>li>a {
  color: white;
  box-sizing: border-box;
  text-decoration: none;
  font-size: 42px;

  display: flex;
  align-items: center;
}

.navbar>li>a>i {
  /* vertical-align: middle; */
  font-size: 24px;
  margin-right: 10px;
}

.navbar>li>a:hover {
  color: #19191b;
}

header {
  background-image: url("../media/Rectangle.png");
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position: top; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 100%;
  max-width: 1110px;
}

header .title_block {
  /* padding-top: 192px; */
  text-align: center;
  color: white;
  padding: 192px 188px 20px 188px;
  font-family: Oswald;
  text-align: center;
}

header .title_block h1 {
  font-family: Oswald;
  font-size: 64px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 35px;
  line-height: 1;
}

header .title_block h1::first-line {
  line-height: 95px;
}

header .title_block p {
  font-family: Oswald;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

header .info_block {
  background-color: #fff;
  padding: 57px 130px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  font-family: Oswald;
}

header .info_block>div>p:first-child {
  font-size: 72px;
  font-weight: 500;
  color: #F7654A;
  margin-bottom: 25px;
}

header .info_block>div>p:nth-child(2) {
  font-size: 36px;
  font-weight: 500;
  color: #000;
  margin-bottom: 10px;
}

header .info_block>div>p:last-child {
  font-size: 18px;
  font-weight: 500;
  color: #999999;
}

/*
  mobile first
  desktop first 
*/

/* 
@media [тип устройства] and ([характеристики])  
[тип устройства] = по умолчанию screen
print вид приложения во время принта
*/

@media screen and (max-width: 1200px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
}

/* 
@media (max-width: 1200px) and (orientation: portrait) {
  .navbar {
    display: none;
  }
} */

/* .navbar {
  @media screen and (max-width: 1200px) {
    flex-direction: column;
    align-items: flex-start;
  }
} */

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 150px;
}

.about .about_block h2 {
  font-family: Oswald;
  font-size: 36px;
  font-weight: 500;
  text-align: center;
  color: #000;
  margin-bottom: 66px;
}

.about .services {
  /* flex-wrap: wrap; */
  /* display: flex; */
  gap: 30px;
  display: grid;
  grid-template-columns: 30% 30% 30%;
}

.about .services div {
  /* flex: 30%; */
  background-color: #F7F7F7;
  text-align: center;
  padding: 60px 90px;
}

.about .services>div p {
  font-size: 21px;
  font-weight: 500;
  font-family: Oswald;
}

.about .services>div i {
  font-size: 48px;
  color: #F7654A;
  margin-bottom: 30px;
}

.add_block {
  background-color: #F7654A;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0 45px 0;
}

.req_form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Oswald;
  color: white;
}

.req_form div:first-child h2 {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 20px;
}

.req_form div:first-child p {
  font-size: 24px;
  font-weight: 700;
}

.req_form div:last-child button {
  padding: 15px 45px;
  background-color: #fff;
  border: none;
  font-size: 14px;
  font-family: Oswald;
  font-weight: 500;
  cursor: pointer;
}

.services>div:hover i {
  display: none;
}